# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Niels Boekestein\Stack\90-Elke dag een stapje beter\School HU V2\11 - CloudGovernance\Week 5\Les 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
